[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
google-auth-oauthlib = "*"
piexif = "*"
pandas = "*"
numpy = "*"
tkcalendar = "*"
customtkinter = "*"
pillow = "*"
tkinterdnd2 = "*"

[dev-packages]

[requires]
python_version = "3.11"
